header {
    .header {
        background-color: #f491b4;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center; 

        .logo img {
        width: 150px;
        height: 150px;
        }
    
        .text {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 45px;
        font-style: italic;
        color: white;
        }
    }
}